<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhizhu.cy.platform.system.provider.mapper.DeskMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="zhizhu.cy.platform.system.api.entity.Desk" id="deskMap">
        <result property="id" column="id"/>
        <result property="deskMerchantId" column="desk_merchant_id"/>
        <result property="deskNumber" column="desk_number"/>
        <result property="deskAvailableNu" column="desk_available_nu"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="dataStatus" column="data_status"/>
    </resultMap>

	<select id="queryObject" resultType="zhizhu.cy.platform.system.api.entity.Desk">
		select * from st_cy_desk where id = #{value}
	</select>

	<select id="queryList" resultType="zhizhu.cy.platform.system.api.entity.Desk">
		select * from st_cy_desk
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from st_cy_desk 
	</select>
	 
	<insert id="save" parameterType="zhizhu.cy.platform.system.api.entity.Desk" useGeneratedKeys="true" keyProperty="id">
		insert into st_cy_desk
		(
			`desk_merchant_id`, 
			`desk_number`, 
			`desk_available_nu`, 
			`create_time`, 
			`update_time`, 
			`remark`, 
			`data_status`
		)
		values
		(
			#{deskMerchantId}, 
			#{deskNumber}, 
			#{deskAvailableNu}, 
			#{createTime}, 
			#{updateTime}, 
			#{remark}, 
			#{dataStatus}
		)
	</insert>
	 
	<update id="update" parameterType="zhizhu.cy.platform.system.api.entity.Desk">
		update st_cy_desk 
		<set>
			<if test="deskMerchantId != null">`desk_merchant_id` = #{deskMerchantId}, </if>
			<if test="deskNumber != null">`desk_number` = #{deskNumber}, </if>
			<if test="deskAvailableNu != null">`desk_available_nu` = #{deskAvailableNu}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="dataStatus != null">`data_status` = #{dataStatus}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from st_cy_desk where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from st_cy_desk where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>