<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhizhu.cy.platform.system.provider.mapper.FoodMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="zhizhu.cy.platform.system.api.entity.Food" id="foodMap">
        <result property="id" column="id"/>
        <result property="foodName" column="food_name"/>
        <result property="foodDesc" column="food_desc"/>
        <result property="foodCatId" column="food_cat_id"/>
        <result property="foodPrice" column="food_price"/>
        <result property="foodProPrice" column="food_pro_price"/>
        <result property="foodImages" column="food_images"/>
        <result property="foodVolume" column="food_volume"/>
        <result property="foodStatus" column="food_status"/>
        <result property="foodState" column="food_state"/>
        <result property="foodMerchantId" column="food_merchant_id"/>
        <result property="foodIsContainSku" column="food_is_contain_sku"/>
        <result property="foodSaleLimitNum" column="food_sale_limit_num"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="dataStatus" column="data_status"/>
    </resultMap>

	<select id="queryObject" resultType="zhizhu.cy.platform.system.api.entity.Food">
		select * from st_cy_food where id = #{value}
	</select>

	<select id="queryList" resultType="zhizhu.cy.platform.system.api.entity.Food">
		select * from st_cy_food
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from st_cy_food 
	</select>
	 
	<insert id="save" parameterType="zhizhu.cy.platform.system.api.entity.Food" useGeneratedKeys="true" keyProperty="id">
		insert into st_cy_food
		(
			`food_name`, 
			`food_desc`, 
			`food_cat_id`, 
			`food_price`, 
			`food_pro_price`, 
			`food_images`, 
			`food_volume`, 
			`food_status`, 
			`food_state`, 
			`food_merchant_id`, 
			`food_is_contain_sku`, 
			`food_sale_limit_num`, 
			`create_time`, 
			`update_time`, 
			`remark`, 
			`data_status`
		)
		values
		(
			#{foodName}, 
			#{foodDesc}, 
			#{foodCatId}, 
			#{foodPrice}, 
			#{foodProPrice}, 
			#{foodImages}, 
			#{foodVolume}, 
			#{foodStatus}, 
			#{foodState}, 
			#{foodMerchantId}, 
			#{foodIsContainSku}, 
			#{foodSaleLimitNum}, 
			#{createTime}, 
			#{updateTime}, 
			#{remark}, 
			#{dataStatus}
		)
	</insert>
	 
	<update id="update" parameterType="zhizhu.cy.platform.system.api.entity.Food">
		update st_cy_food 
		<set>
			<if test="foodName != null">`food_name` = #{foodName}, </if>
			<if test="foodDesc != null">`food_desc` = #{foodDesc}, </if>
			<if test="foodCatId != null">`food_cat_id` = #{foodCatId}, </if>
			<if test="foodPrice != null">`food_price` = #{foodPrice}, </if>
			<if test="foodProPrice != null">`food_pro_price` = #{foodProPrice}, </if>
			<if test="foodImages != null">`food_images` = #{foodImages}, </if>
			<if test="foodVolume != null">`food_volume` = #{foodVolume}, </if>
			<if test="foodStatus != null">`food_status` = #{foodStatus}, </if>
			<if test="foodState != null">`food_state` = #{foodState}, </if>
			<if test="foodMerchantId != null">`food_merchant_id` = #{foodMerchantId}, </if>
			<if test="foodIsContainSku != null">`food_is_contain_sku` = #{foodIsContainSku}, </if>
			<if test="foodSaleLimitNum != null">`food_sale_limit_num` = #{foodSaleLimitNum}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="dataStatus != null">`data_status` = #{dataStatus}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from st_cy_food where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from st_cy_food where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>