<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klauting.timormall.system.provider.mapper.GoodsExtMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.klauting.timormall.system.api.entity.GoodsExt" id="goodsExtMap">
        <result property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="platformId" column="platform_id"/>
        <result property="sellerWanwan" column="seller_wanwan"/>
        <result property="sellerId" column="seller_id"/>
        <result property="shopTitle" column="shop_title"/>
        <result property="tkRate" column="tk_rate"/>
        <result property="tkMoney" column="tk_money"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="dataStatus" column="data_status"/>
    </resultMap>

	<select id="queryObject" resultType="com.klauting.timormall.system.api.entity.GoodsExt">
		select * from kt_goods_ext where id = #{value}
	</select>

	<select id="queryList" resultType="com.klauting.timormall.system.api.entity.GoodsExt">
		select * from kt_goods_ext
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from kt_goods_ext 
	</select>
	 
	<insert id="save" parameterType="com.klauting.timormall.system.api.entity.GoodsExt" useGeneratedKeys="true" keyProperty="id">
		insert into kt_goods_ext
		(
			`goods_id`, 
			`platform_id`, 
			`seller_wanwan`, 
			`seller_id`, 
			`shop_title`, 
			`tk_rate`, 
			`tk_money`, 
			`create_time`, 
			`update_time`, 
			`data_status`
		)
		values
		(
			#{goodsId}, 
			#{platformId}, 
			#{sellerWanwan}, 
			#{sellerId}, 
			#{shopTitle}, 
			#{tkRate}, 
			#{tkMoney}, 
			#{createTime}, 
			#{updateTime}, 
			#{dataStatus}
		)
	</insert>
	 
	<update id="update" parameterType="com.klauting.timormall.system.api.entity.GoodsExt">
		update kt_goods_ext 
		<set>
			<if test="goodsId != null">`goods_id` = #{goodsId}, </if>
			<if test="platformId != null">`platform_id` = #{platformId}, </if>
			<if test="sellerWanwan != null">`seller_wanwan` = #{sellerWanwan}, </if>
			<if test="sellerId != null">`seller_id` = #{sellerId}, </if>
			<if test="shopTitle != null">`shop_title` = #{shopTitle}, </if>
			<if test="tkRate != null">`tk_rate` = #{tkRate}, </if>
			<if test="tkMoney != null">`tk_money` = #{tkMoney}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_tiem` = #{updateTime}, </if>
			<if test="dataStatus != null">`data_status` = #{dataStatus}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from kt_goods_ext where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from kt_goods_ext where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>