<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zhangxd.platform.system.provider.mapper.OrderLogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.zhangxd.platform.system.api.entity.OrderLog" id="orderLogMap">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="operationType" column="operation_type"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="desc" column="desc"/>
    </resultMap>

	<select id="queryObject" resultType="cn.zhangxd.platform.system.api.entity.OrderLog">
		select * from st_cy_order_log where id = #{value}
	</select>

	<select id="queryList" resultType="cn.zhangxd.platform.system.api.entity.OrderLog">
		select * from st_cy_order_log
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from st_cy_order_log 
	</select>
	 
	<insert id="save" parameterType="cn.zhangxd.platform.system.api.entity.OrderLog" useGeneratedKeys="true" keyProperty="id">
		insert into st_cy_order_log
		(
			`order_id`, 
			`operation_type`, 
			`user_id`, 
			`create_time`, 
			`update_time`, 
			`del_flag`, 
			`desc`
		)
		values
		(
			#{orderId}, 
			#{operationType}, 
			#{userId}, 
			#{createTime}, 
			#{updateTime}, 
			#{delFlag}, 
			#{desc}
		)
	</insert>
	 
	<update id="update" parameterType="cn.zhangxd.platform.system.api.entity.OrderLog">
		update st_cy_order_log 
		<set>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="operationType != null">`operation_type` = #{operationType}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="desc != null">`desc` = #{desc}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from st_cy_order_log where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from st_cy_order_log where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>