<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhizhu.cy.platform.system.provider.mapper.OrderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="zhizhu.cy.platform.system.api.entity.Order" id="orderMap">
        <result property="id" column="id"/>
        <result property="deskId" column="desk_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="orderType" column="order_type"/>
        <result property="orderStatus" column="order_status"/>
        <result property="orderRemark" column="order_remark"/>
        <result property="orderTotalPrice" column="order_total_price"/>
        <result property="orderVirtualPrice" column="order_virtual_price"/>
        <result property="orderCouponPrice" column="order_coupon_price"/>
        <result property="orderAddressId" column="order_address_id"/>
        <result property="orderAddress" column="order_address"/>
        <result property="orderUserId" column="order_user_id"/>
        <result property="orderMerchantId" column="order_merchant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="dataStatus" column="data_status"/>
    </resultMap>

	<select id="queryObject" resultType="zhizhu.cy.platform.system.api.entity.Order">
		select * from st_cy_order where id = #{value}
	</select>

	<select id="queryList" resultType="zhizhu.cy.platform.system.api.entity.Order">
		select * from st_cy_order
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from st_cy_order 
	</select>
	 
	<insert id="save" parameterType="zhizhu.cy.platform.system.api.entity.Order" useGeneratedKeys="true" keyProperty="id">
		insert into st_cy_order
		(
			`desk_id`, 
			`order_no`, 
			`order_type`, 
			`order_status`, 
			`order_remark`, 
			`order_total_price`, 
			`order_virtual_price`, 
			`order_coupon_price`, 
			`order_address_id`, 
			`order_address`, 
			`order_user_id`, 
			`order_merchant_id`, 
			`create_time`, 
			`update_time`, 
			`remark`, 
			`data_status`
		)
		values
		(
			#{deskId}, 
			#{orderNo}, 
			#{orderType}, 
			#{orderStatus}, 
			#{orderRemark}, 
			#{orderTotalPrice}, 
			#{orderVirtualPrice}, 
			#{orderCouponPrice}, 
			#{orderAddressId}, 
			#{orderAddress}, 
			#{orderUserId}, 
			#{orderMerchantId}, 
			#{createTime}, 
			#{updateTime}, 
			#{remark}, 
			#{dataStatus}
		)
	</insert>
	 
	<update id="update" parameterType="zhizhu.cy.platform.system.api.entity.Order">
		update st_cy_order 
		<set>
			<if test="deskId != null">`desk_id` = #{deskId}, </if>
			<if test="orderNo != null">`order_no` = #{orderNo}, </if>
			<if test="orderType != null">`order_type` = #{orderType}, </if>
			<if test="orderStatus != null">`order_status` = #{orderStatus}, </if>
			<if test="orderRemark != null">`order_remark` = #{orderRemark}, </if>
			<if test="orderTotalPrice != null">`order_total_price` = #{orderTotalPrice}, </if>
			<if test="orderVirtualPrice != null">`order_virtual_price` = #{orderVirtualPrice}, </if>
			<if test="orderCouponPrice != null">`order_coupon_price` = #{orderCouponPrice}, </if>
			<if test="orderAddressId != null">`order_address_id` = #{orderAddressId}, </if>
			<if test="orderAddress != null">`order_address` = #{orderAddress}, </if>
			<if test="orderUserId != null">`order_user_id` = #{orderUserId}, </if>
			<if test="orderMerchantId != null">`order_merchant_id` = #{orderMerchantId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="dataStatus != null">`data_status` = #{dataStatus}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from st_cy_order where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from st_cy_order where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>