<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhizhu.cy.platform.system.provider.mapper.OrderCommentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="zhizhu.cy.platform.system.api.entity.OrderComment" id="orderCommentMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderId" column="order_id"/>
        <result property="star" column="star"/>
        <result property="comments" column="comments"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

	<select id="queryObject" resultType="zhizhu.cy.platform.system.api.entity.OrderComment">
		select * from st_cy_order_comment where id = #{value}
	</select>

	<select id="queryList" resultType="zhizhu.cy.platform.system.api.entity.OrderComment">
		select * from st_cy_order_comment
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from st_cy_order_comment 
	</select>
	 
	<insert id="save" parameterType="zhizhu.cy.platform.system.api.entity.OrderComment" useGeneratedKeys="true" keyProperty="id">
		insert into st_cy_order_comment
		(
			`user_id`, 
			`order_id`, 
			`star`, 
			`comments`, 
			`create_date`, 
			`update_date`, 
			`del_flag`
		)
		values
		(
			#{userId}, 
			#{orderId}, 
			#{star}, 
			#{comments}, 
			#{createDate}, 
			#{updateDate}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="zhizhu.cy.platform.system.api.entity.OrderComment">
		update st_cy_order_comment 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="star != null">`star` = #{star}, </if>
			<if test="comments != null">`comments` = #{comments}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from st_cy_order_comment where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from st_cy_order_comment where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>