<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klauting.timormall.system.provider.mapper.PropertyMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.klauting.timormall.system.api.entity.Property" id="propertyMap">
        <result property="id" column="id"/>
        <result property="propId" column="prop_id"/>
        <result property="propName" column="prop_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="dataStatus" column="data_status"/>
    </resultMap>

	<select id="queryObject" resultType="com.klauting.timormall.system.api.entity.Property">
		select * from st_cy_property where id = #{value}
	</select>

	<select id="queryList" resultType="com.klauting.timormall.system.api.entity.Property">
		select * from st_cy_property
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from st_cy_property 
	</select>
	 
	<insert id="save" parameterType="com.klauting.timormall.system.api.entity.Property" useGeneratedKeys="true" keyProperty="id">
		insert into st_cy_property
		(
			`prop_id`, 
			`prop_name`, 
			`create_time`, 
			`update_time`, 
			`remark`, 
			`data_status`
		)
		values
		(
			#{propId}, 
			#{propName}, 
			#{createTime}, 
			#{updateTime}, 
			#{remark}, 
			#{dataStatus}
		)
	</insert>
	 
	<update id="update" parameterType="com.klauting.timormall.system.api.entity.Property">
		update st_cy_property 
		<set>
			<if test="propId != null">`prop_id` = #{propId}, </if>
			<if test="propName != null">`prop_name` = #{propName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="dataStatus != null">`data_status` = #{dataStatus}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from st_cy_property where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from st_cy_property where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>