<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zhangxd.platform.system.provider.mapper.PropValueMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.zhangxd.platform.system.api.entity.PropValue" id="propValueMap">
        <result property="id" column="id"/>
        <result property="foodsId" column="foods_id"/>
        <result property="propId" column="prop_id"/>
        <result property="valueId" column="value_id"/>
        <result property="colorImg" column="color_img"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

	<select id="queryObject" resultType="cn.zhangxd.platform.system.api.entity.PropValue">
		select * from st_cy_prop_value where id = #{value}
	</select>

	<select id="queryList" resultType="cn.zhangxd.platform.system.api.entity.PropValue">
		select * from st_cy_prop_value
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from st_cy_prop_value 
	</select>
	 
	<insert id="save" parameterType="cn.zhangxd.platform.system.api.entity.PropValue" useGeneratedKeys="true" keyProperty="id">
		insert into st_cy_prop_value
		(
			`foods_id`, 
			`prop_id`, 
			`value_id`, 
			`color_img`, 
			`create_date`, 
			`update_date`, 
			`del_flag`
		)
		values
		(
			#{foodsId}, 
			#{propId}, 
			#{valueId}, 
			#{colorImg}, 
			#{createDate}, 
			#{updateDate}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="cn.zhangxd.platform.system.api.entity.PropValue">
		update st_cy_prop_value 
		<set>
			<if test="foodsId != null">`foods_id` = #{foodsId}, </if>
			<if test="propId != null">`prop_id` = #{propId}, </if>
			<if test="valueId != null">`value_id` = #{valueId}, </if>
			<if test="colorImg != null">`color_img` = #{colorImg}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from st_cy_prop_value where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from st_cy_prop_value where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>